<a href="https://colab.research.google.com/github/pdomins/imputation-methods/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Inputation methods

In [1]:
import pandas as pd

**Dataset:** thyroidDF.csv - 9172 observations x 31 attributes

**Atributes:**
- age - age of the patient (int)
- sex - sex patient identifies (str)
- on_thyroxine - whether patient is on thyroxine (bool)
- query on thyroxine - *whether patient is on thyroxine (bool)
- on antithyroid meds - whether patient is on antithyroid meds (bool)
- sick - whether patient is sick (bool)
- pregnant - whether patient is pregnant (bool)
- thyroid_surgery - whether patient has undergone thyroid surgery (bool)
- I131_treatment - whether patient is undergoing I131 treatment (bool)
- query_hypothyroid - whether patient believes they have hypothyroid (bool)
- query_hyperthyroid - whether patient believes they have hyperthyroid (bool)
- lithium - whether patient * lithium (bool)
- goitre - whether patient has goitre (bool)
- tumor - whether patient has tumor (bool)
- hypopituitary - whether patient * hyperpituitary gland (float)
- psych - whether patient * psych (bool)
- TSH_measured - whether TSH was measured in the blood (bool)
- TSH - TSH level in blood from lab work (float)
- T3_measured - whether T3 was measured in the blood (bool)
- T3 - T3 level in blood from lab work (float)
- TT4_measured - whether TT4 was measured in the blood (bool)
- TT4 - TT4 level in blood from lab work (float)
- T4U_measured - whether T4U was measured in the blood (bool)
- T4U - T4U level in blood from lab work (float)
- FTI_measured - whether FTI was measured in the blood (bool)
- FTI - FTI level in blood from lab work (float)
- TBG_measured - whether TBG was measured in the blood (bool)
- TBG - TBG level in blood from lab work (float)
- referral_source - (str)
- target - hyperthyroidism medical diagnosis (str)
- patient_id - unique id of the patient (str)

In [2]:
df = pd.read_csv("thyroidDF.csv")
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [4]:
nan_count_per_column = df.isnull().sum()

print("Number of NaN values per column:")
print(nan_count_per_column)

Number of NaN values per column:
age                       0
sex                     307
on_thyroxine              0
query_on_thyroxine        0
on_antithyroid_meds       0
sick                      0
pregnant                  0
thyroid_surgery           0
I131_treatment            0
query_hypothyroid         0
query_hyperthyroid        0
lithium                   0
goitre                    0
tumor                     0
hypopituitary             0
psych                     0
TSH_measured              0
TSH                     842
T3_measured               0
T3                     2604
TT4_measured              0
TT4                     442
T4U_measured              0
T4U                     809
FTI_measured              0
FTI                     802
TBG_measured              0
TBG                    8823
referral_source           0
target                    0
patient_id                0
dtype: int64