In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
qual_cols = { "age", "TSH", "T3", "TT4", "T4U", "FTI", "TBG" }
cat_cols = { "sex", "on_thyroxine", "on_antithyroid_meds", "sick", "pregnant", "thyroid_surgery", "I131_treatment", "lithium", "goitre", "tumor", "psych", "referral_source", "target" }

In [3]:
remove_qual_cols = { "TBG" }
remove_cat_cols = { "referral_source", "target" }

In [4]:
k = 5
neighbours = 10
iters = 10

In [5]:
seed = 42

In [6]:
random_state = np.random.RandomState(seed)
random_generator = np.random.default_rng(seed)

In [7]:
sel_qual_cols = list(qual_cols.difference(remove_qual_cols))
sel_cat_cols = list(cat_cols.difference(remove_cat_cols))
only_sel_qual_cols = sel_qual_cols.copy()
sel_qual_cols.extend(sel_cat_cols)
display(sel_qual_cols)
display(sel_cat_cols)

['age',
 'T3',
 'T4U',
 'FTI',
 'TT4',
 'TSH',
 'on_antithyroid_meds',
 'on_thyroxine',
 'thyroid_surgery',
 'sick',
 'tumor',
 'goitre',
 'pregnant',
 'I131_treatment',
 'lithium',
 'sex',
 'psych']

['on_antithyroid_meds',
 'on_thyroxine',
 'thyroid_surgery',
 'sick',
 'tumor',
 'goitre',
 'pregnant',
 'I131_treatment',
 'lithium',
 'sex',
 'psych']

In [8]:
with open('data/categorical_cols.json', 'w') as f:
    json.dump(sel_cat_cols, f)

with open('data/qualitative_cols.json', 'w') as f:
    json.dump(only_sel_qual_cols, f)

In [9]:
df = pd.read_csv("./data/thyroidDF.csv")
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [10]:
df.dropna()

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
167,40,F,f,f,f,f,f,f,f,f,...,3.9,t,0.83,t,5.0,t,28.0,other,F,840827019
5256,35,F,f,f,f,f,f,t,f,f,...,73.0,t,1.16,t,63.0,t,37.0,other,-,851128040
6044,77,F,f,f,f,f,f,f,f,f,...,120.0,t,0.96,t,124.0,t,45.0,SVI,-,860305064
6045,73,M,f,f,f,f,f,f,f,f,...,89.0,t,0.74,t,119.0,t,24.0,SVI,-,860305065
6747,77,F,f,f,f,f,f,f,f,f,...,131.0,t,1.04,t,126.0,t,25.0,SVI,K,860702030
6773,74,F,f,f,f,f,f,f,f,f,...,116.0,t,0.81,t,143.0,t,22.0,SVI,-,860703046
6862,60,M,f,f,f,f,f,f,f,f,...,92.0,t,0.84,t,110.0,t,21.0,other,-,860710043
6863,66,F,f,f,f,f,f,f,f,f,...,138.0,t,0.80,t,173.0,t,15.0,SVI,-,860710044
6880,42,F,f,f,f,f,f,f,f,f,...,106.0,t,0.98,t,108.0,t,27.0,other,-,860711039
6934,29,F,f,f,f,f,f,f,f,f,...,122.0,t,1.14,t,107.0,t,36.0,SVI,-,860717007
7097,35,M,f,f,f,f,f,f,f,f,...,97.0,t,0.85,t,114.0,t,30.0,SVI,-,860729023
7101,44,F,f,f,f,f,f,f,f,f,...,135.0,t,1.01,t,135.0,t,32.0,SVI,-,860729072
7103,78,F,f,f,f,f,f,f,f,f,...,120.0,t,0.96,t,125.0,t,35.0,SVI,-,860729075
7190,28,F,f,f,f,f,f,f,f,f,...,75.0,t,0.82,t,92.0,t,21.0,SVI,-,860805027
7239,58,M,f,f,f,f,f,f,f,f,...,161.0,t,1.27,t,127.0,t,86.0,SVI,I,860807059
7254,46,F,f,f,f,f,f,f,f,f,...,116.0,t,0.80,t,145.0,t,22.0,SVI,-,860808041
7356,97,M,f,f,f,f,f,f,f,f,...,93.0,t,0.89,t,104.0,t,29.0,SVI,-,860815049
7591,57,F,f,f,f,f,f,f,f,f,...,110.0,t,0.88,t,125.0,t,26.0,other,-,860902004
7733,60,F,f,f,f,f,f,f,f,f,...,139.0,t,1.09,t,128.0,t,21.0,SVI,G,860912032
8116,24,F,t,f,f,f,f,f,f,f,...,176.0,t,1.07,t,164.0,t,28.0,other,N,861015018

In [11]:
df[sel_qual_cols]

,age,T3,T4U,FTI,TT4,TSH,on_antithyroid_meds,on_thyroxine,thyroid_surgery,sick,tumor,goitre,pregnant,I131_treatment,lithium,sex,psych
0,29,NaN,NaN,NaN,NaN,0.3,f,f,f,f,f,f,f,f,f,F,f
1,29,1.9,NaN,NaN,128.0,1.6,f,f,f,f,f,f,f,f,f,F,f
2,41,NaN,NaN,NaN,NaN,NaN,f,f,f,f,f,f,f,f,f,F,f
3,36,NaN,NaN,NaN,NaN,NaN,f,f,f,f,f,f,f,f,f,F,f
4,32,NaN,NaN,NaN,NaN,NaN,f,f,f,f,f,f,f,f,f,F,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,NaN,0.83,77.0,64.0,NaN,f,f,f,f,f,f,f,f,f,M,f
9168,22,NaN,0.92,99.0,91.0,NaN,f,f,f,f,f,f,f,f,f,M,f
9169,69,NaN,1.27,89.0,113.0,NaN,f,f,f,f,f,f,f,f,f,M,f
9170,47,NaN,0.85,88.0,75.0,NaN,f,f,f,f,f,f,f,f,f,F,f
9171,31,NaN,1.02,65.0,66.0,NaN,f,f,f,f,f,f,f,f,f,M,f

In [12]:
df[sel_cat_cols]

,on_antithyroid_meds,on_thyroxine,thyroid_surgery,sick,tumor,goitre,pregnant,I131_treatment,lithium,sex,psych
0,f,f,f,f,f,f,f,f,f,F,f
1,f,f,f,f,f,f,f,f,f,F,f
2,f,f,f,f,f,f,f,f,f,F,f
3,f,f,f,f,f,f,f,f,f,F,f
4,f,f,f,f,f,f,f,f,f,F,f
...,...,...,...,...,...,...,...,...,...,...,...
9167,f,f,f,f,f,f,f,f,f,M,f
9168,f,f,f,f,f,f,f,f,f,M,f
9169,f,f,f,f,f,f,f,f,f,M,f
9170,f,f,f,f,f,f,f,f,f,F,f
9171,f,f,f,f,f,f,f,f,f,M,f

In [13]:
df = df[(df["age"] >= 0) & (df["age"] < 100)]
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_meds,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,target,patient_id
0,29,F,f,f,f,f,f,f,f,t,...,NaN,f,NaN,f,NaN,f,NaN,other,-,840801013
1,29,F,f,f,f,f,f,f,f,f,...,128.0,f,NaN,f,NaN,f,NaN,other,-,840801014
2,41,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,11.0,other,-,840801042
3,36,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,26.0,other,-,840803046
4,32,F,f,f,f,f,f,f,f,f,...,NaN,f,NaN,f,NaN,t,36.0,other,S,840803047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9167,56,M,f,f,f,f,f,f,f,f,...,64.0,t,0.83,t,77.0,f,NaN,SVI,-,870119022
9168,22,M,f,f,f,f,f,f,f,f,...,91.0,t,0.92,t,99.0,f,NaN,SVI,-,870119023
9169,69,M,f,f,f,f,f,f,f,f,...,113.0,t,1.27,t,89.0,f,NaN,SVI,I,870119025
9170,47,F,f,f,f,f,f,f,f,f,...,75.0,t,0.85,t,88.0,f,NaN,other,-,870119027
9171,31,M,f,f,f,f,f,f,f,t,...,66.0,t,1.02,t,65.0,f,NaN,other,-,870119035

In [14]:
qual_na_df = df[sel_qual_cols].dropna()
qual_na_df

,age,T3,T4U,FTI,TT4,TSH,on_antithyroid_meds,on_thyroxine,thyroid_surgery,sick,tumor,goitre,pregnant,I131_treatment,lithium,sex,psych
19,36,2.4,1.06,85.0,90.0,1.50,f,f,f,f,f,f,f,f,f,F,f
21,40,2.3,1.08,96.0,104.0,1.20,f,f,f,f,f,f,f,f,f,F,f
22,40,2.1,0.84,105.0,88.0,5.90,f,f,f,f,f,f,f,f,f,F,f
23,77,2.4,1.13,95.0,107.0,0.05,f,f,f,f,f,f,f,f,f,F,f
27,51,2.1,0.87,106.0,93.0,0.05,f,f,f,f,f,f,f,f,f,F,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,65,1.8,0.90,94.0,85.0,0.73,f,f,f,f,f,f,f,f,f,M,f
9130,65,2.1,1.19,113.0,135.0,4.10,f,t,f,f,f,f,f,t,f,F,f
9134,74,1.0,1.25,39.0,49.0,53.00,f,f,f,t,f,f,f,f,f,F,f
9137,42,1.3,0.73,81.0,59.0,2.30,f,t,f,f,f,f,f,f,f,F,f
9141,42,1.8,0.95,107.0,102.0,2.40,t,f,f,f,f,f,f,f,f,F,f

In [15]:
categorical_dict = {
    "f" : 0,
    "t" : 1,
    "F" : 0,
    "M" : 1
}

def replace_col(series, col):
    series[col] = categorical_dict[series[col]]
    return series

for col in sel_cat_cols:
    qual_na_df = qual_na_df.apply(lambda s : replace_col(s, col), axis=1)

In [16]:
qual_na_df

,age,T3,T4U,FTI,TT4,TSH,on_antithyroid_meds,on_thyroxine,thyroid_surgery,sick,tumor,goitre,pregnant,I131_treatment,lithium,sex,psych
19,36,2.4,1.06,85.0,90.0,1.50,0,0,0,0,0,0,0,0,0,0,0
21,40,2.3,1.08,96.0,104.0,1.20,0,0,0,0,0,0,0,0,0,0,0
22,40,2.1,0.84,105.0,88.0,5.90,0,0,0,0,0,0,0,0,0,0,0
23,77,2.4,1.13,95.0,107.0,0.05,0,0,0,0,0,0,0,0,0,0,0
27,51,2.1,0.87,106.0,93.0,0.05,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,65,1.8,0.90,94.0,85.0,0.73,0,0,0,0,0,0,0,0,0,1,0
9130,65,2.1,1.19,113.0,135.0,4.10,0,1,0,0,0,0,0,1,0,0,0
9134,74,1.0,1.25,39.0,49.0,53.00,0,0,0,1,0,0,0,0,0,0,0
9137,42,1.3,0.73,81.0,59.0,2.30,0,1,0,0,0,0,0,0,0,0,0
9141,42,1.8,0.95,107.0,102.0,2.40,1,0,0,0,0,0,0,0,0,0,0

In [17]:
from utils.data_split import k_fold_split

In [18]:
ks = [2,3,4,5,10,100,500,1000]

In [19]:
complete_vals_df, remove_vals_df = k_fold_split(qual_na_df, k, random_generator)
missing_vals_idxs = list(remove_vals_df.index)

In [20]:
weight_map = {
    "age" : 1,
    "T3"  : 1,
    "T4U" : 1,
    "TSH" : 1,
    "TT4" : 1,
    "FTI" : 1
}

In [21]:
data_folder = "data"

In [22]:
train_filename = "train_df.csv"
test_real_filename = "test_df.csv"

In [23]:
for k in ks:
    complete_vals_df, remove_vals_df = k_fold_split(qual_na_df, k, random_generator)
    complete_vals_df.to_csv(data_folder + "/" + "{}-".format(k) + train_filename)
    remove_vals_df.to_csv(data_folder + "/" + "{}-".format(k) + test_real_filename)